/* Adam Watkin 2017 */
body {
    font-family: sans-serif;
    color: #333;
}

#container {
    width: 480px;
    text-align: center;
    margin: auto;
    display: block;

    border-style: solid;
    border-width: 5px;
}

#warningArea {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    padding: 15px 32px;
    display: block;
    /*    width: auto;*/
    resize: none;

    /*    border-style: solid;*/
    /*    border-width: 5px;*/

    min-height: 140px;
    padding-top: 1.2em;
    padding-bottom: 0em;

    /*    makes it closer to the counter*/
    margin-top: -80px;
}

h1 {
    margin: auto;
    font-size: 5em;
    text-align: center;
    color: black;
    min-height: 150px;
    padding-top: 0.4em;
}

.button {
    background-color: #4CAF50;
    border: none;

    /*    prevent button resize */
    width: 38%;

    color: white;
    padding: 15px 59px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 26px;
    /*    cursor: pointer;*/
    width: 18px border-style: solid;
    border-width: 5px;

    margin-top: -18px;
    margin-bottom: 20px;
}

#inputArea {
    /* extra margin from the warning area */
    margin-top: -38px;
}

/* input boxes and labels */
input[type=text] {
    width: auto;
    padding: 1em 1.2em;
    margin: 8px 0;
    margin-left: -170px;
    box-sizing: border-box;
    text-align: center;

    border: 2px solid #dadada;

}

/* input titles */
h2 {

    font-size: 1.2em;
    color: black;
    text-align: left;
    padding-left: 20px;
}

/* input labels, right of input boxes */
label {
    color: black;
    align-self: left;
    padding-top: 1.2em;
    padding-left: 2em;
    position: absolute;

}